{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <h2 class="text_reg">Вхід</h2>
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p class="label">Логін: </p>
            <p class="input">{{ form.username }}</p>
            <p class="label">Пароль: </p>
            <p class="input">{{ form.password }}</p>
        </div>
        <button type="submit" class="btn btn-primary">Увійти</button>
        <button type="reset" class="btn btn-primary">Стерти</button>
        <a href="{% url 'signup' %}">Немаю аккаунту</a>
        <a href="{% url 'password_reset' %}">Не пам'ятаю пароль</a>
    </form>

</div>

{% endblock %}