{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <h2>Новий пароль</h2>
    {% if validlink %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p>Новий пароль: </p>
            <p>{{ user_form.password1 }}</p>
            <p>Пітдвердити пароль: </p>
            <p>{{ user_form.password2 }}</p>
        </div>
        <button type="submit" class="btn btn-primary">Змінити</button>
    </form>

    {% else %}
    <p style="color:red">Неправильне посилання</p>
    <p>
        <a href="{% url 'password_reset' %}">Запросити нове посилання по зміненню паролю</a>
    </p>
    {% endif %}
</div>
{% endblock %}