{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <h2 class="text_reg">Новий пароль</h2>
    {% if validlink %}

    <form class="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p class="label">Новий пароль: </p>
            <p class="input">{{ form.new_password1 }}</p>
            <p class="label">Пітдвердити пароль: </p>
            <p class="input">{{ form.new_password2 }}</p>
        </div>
        <button type="submit" class="btn btn-primary">Змінити</button>
    </form>

    {% else %}
    <p style="color:red">Неправильне посилання</p>
    <p>
        <a href="{% url 'password_reset' %}">Запросити нове посилання по зміненню паролю</a>
    </p>
    {% endif %}
</div>
{% endblock %}