{% extends 'blog/base.html' %}

{% block content %}
<div class="container form">
<h2 class="text_reg">Реєстрація</h2>

  <p class="label">Виберіть тип аккаунту, який хочете створити: </p><br><br>
  <a href="{% url 'signup_customer' %}" class="btn btn-student btn-lg" role="button"><button type="submit" class="btn btn-primary">Я користувач</button></a>
  <a href="{% url 'signup_company' %}" class="btn btn-teacher btn-lg" role="button"><button type="submit" class="btn btn-primary">Я представник</button></a>

</div>
{% endblock %}