anyjson==0.3.3
appdirs==1.4.4
asgiref==3.2.7
certifi==2020.4.5.2
click==7.1.2
codegen==1.0
cycler==0.10.0
distlib==0.3.0
Django==2.2.13
django-cleanup==4.0.0
django-crispy-forms==1.7.0
django-el-pagination==3.3.0
django-jquery==3.1.0
django-multiselectfield==0.1.12
django-resized==0.3.11
django-utils2==2.8.0
filelock==3.0.12
firms==0.0.11
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
music21==5.7.2
numpy==1.18.5
patterns==0.3
Pillow==7.1.2
pipenv==2020.6.2
pynput==1.6.8
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2017.3
pywin32==227
PyYAML==5.3.1
render==1.0.0
schedule==0.6.0
scipy==1.4.1
six==1.14.0
sqlparse==0.3.1
tabulate==0.8.7
virtualenv==20.0.23
virtualenv-clone==0.5.4
