{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="about-container">
    <div class="about-top">
        <p>
            Ми презентуємо сайт місцевих брендів «Made in Chernivtsi».<br>
            На цій онлайн-платформі зібрані найкращі товаровиробники Чернівців та області.<br>
            Бо ж ми повинні знати СВОЇХ! Кожен придбаний твар - це інвестиція у розвиток міста та області.<br>
            Це нові робочі місця, податки до бюджету та добробут громади.<br>
            <strong>«Made in Chernivtsi»</strong> - сайт, на якому можна представити свою продукцію та послуги.
        </p>
    </div>
    <div class="about-columns">
        <div class="about-company">
            <div class="about-icons">
                <div class="about-icons-wrap"><img src="{% static 'core/images/company_about.png' %}"></div>
            </div>
            <h3>Ви місцевий підприємець?</h3>
            <h3 style="margin-bottom: 6%;">Ось 5 основних переваг:</h3>
            <ul class="about-lists">
                <li>Безкоштовна реєстрація на сайті<br><br></li>
                <li>Представлення свого товару та послуг, покращення впізнаваності бренду</li>
                <li>На веб-сервісі «Made in Chernivtsi» можна вказувати і пряме посилання на свій власний сайт чи
                    сторінку у
                    соцмережах. А це додатковий трафік та продажі
                </li>
                <li>Можливість отримувати відгуки від реальних покупців</li>
            </ul>
        </div>
        <div class="about-user">
            <div class="about-icons">
                <div class="about-icons-wrap"><img src="{% static 'core/images/user_about.png' %}"></div>
            </div>
            <h3>Ви споживач?</h3>
            <h3 style="margin-bottom: 6%;">Для вас доступний каталог:</h3>
            <ul class="about-lists">
                <li>На сайті Ви зможете знайти потрібні товари чи послуги за категоріями</li>
                <li>Ви підтримаєте місцевого виробника купуючи його товар</li>
                <li>Зможете відкрити для себе бренди, про які, ви можливо, раніше не знали, що вони чернівецькі</li>
                <li>Маєте змогу написати відгук чи рекомендацію. Таким чином, мотивувати підприємців</li>
            </ul>
        </div>
    </div>
    <h3 style="color: #006860; margin-top: 3em; margin-bottom: 3em;">
        Ви місцевий виробник?<br>
        Бажаєте взяти участь у проекті промоціювання локального виробництва?<br>
        Маєте фірмову мережу, або ж магазин з власно виробленою продукцією?
    </h3>
        <p style="text-align:center">
            Чекаємо на Ваші запитання та пропозиції: на сайті www.mche.cv, або на Facebook сторінці
            <a href="https://www.facebook.com/MadeinChernivtsi">тут</a>.
        </p>
</div>
{%endblock%}
