{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="about-container">
    <picture>
        <img src="{% static 'core/images/chernivtsi.png' %}">
    </picture>
    <p style="margin-top: 6vw;">Ми презентуємо сайт місцевих брендів «Made in Chernivtsi». На цій онлайн-платформі
        зібрані найкращі
        товаровиробники Чернівців та області. Бо ж ми повинні знати СВОЇХ!</p>
    <p>Кожен придбаний твар - це інвестиція у розвиток міста та області. Це нові робочі місця, податки до бюджету та
        добробут громади.</p>
    <p><strong>«Made in Chernivtsi»</strong> - сайт, на якому можна представити свою продукцію та послуги.</p>
    <h3>Ви місцевий підприємець? Ось 5 основних переваг:</h3>
    <ul>
        <li>безкоштовна реєстрація на сайті;</li>
        <li>представлення свого товару та послуг;</li>
        <li>покращення впізнаваності бренду;</li>
        <li>на веб-сервісі «Made in Chernivtsi» можна вказувати і пряме посилання на свій власний сайт чи сторінку у
            соцмережах. А це додатковий трафік та продажі;
        </li>
        <li>можливість отримувати відгуки від реальних покупців.</li>
    </ul>
    <h3>Ви споживач? Для вас доступний каталог:</h3>
    <ul>
    <li>на сайті Ви зможете знайти потрібні товари чи послуги за категоріями;</li>
    <li>ви підтримаєте місцевого виробника купуючи його товар;</li>
    <li>зможете відкрити для себе бренди, про які, ви можливо, раніше не знали, що вони чернівецькі;</li>
    <li>маєте змогу написати відгук чи рекомендацію. Таким чином, мотивувати підприємців покращувати надання своїх
        послуг.</li>
    </ul>
    <p>Ви місцевий виробник? Бажаєте, взяти участь у проекті промоціювання локального виробництва? Маєте фірмову мережу,
        або ж магазин з власно виробленою продукцією?</p>
    <p>Чекаємо на Ваші запитання та пропозиції: на сайті www.mche.citi, або на Facebook сторінці.</p>
    <p>Обирай продукцію місцевого виробника - подбай про розвиток Чернівців!</p>
    <p>Долучитися до нашої групи у Facebook можна за посиланням <a href="https://www.facebook.com/MadeinChernivtsi">тут</a></p>

</div>
{%endblock%}