{% extends 'blog/base.html' %}
{% block content %}

<div class="container">
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <p>Категорії: {{post.category}}</p>
    <p>Автор: {{post.user.company.name}}</p>
    <p>Дата публікації: {{post.created_on}}</p>
    {% for img in post.postimages_set.all %}
        <img class="" src="{{ img.image.url }}">
    {% endfor %}
    <form class="form" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ comment_form.content }}
        <button type="submit" class="btn btn-primary">Залишити відгук</button>
        <button type="reset" class="btn btn-primary">Стерти</button>
    </form>
    {% for comm in post.postcomments_set.all %}
        {{comm.content}}
        {{comm.user}}
        {{comm.created_on}}
    {% endfor %}
</div>

{% endblock content %}