{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    {% if user.company %}
    <h2 class="text_reg">Створити пост</h2>
    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <p class="label">Заголовок: </p>
            <p class="input">{{ post_form.title }}</p>
            <p class="label">Текст: </p>
            <p class="input">{{ post_form.content }}</p>
            <p class="label">Категорії: </p>
            <p class="input">{{ post_form.category }}</p>
            {{ formset.management_form }}
            {% for form in formset %}
            <p class="label">Зображення: </p><br>
            <p>{{ form.image }}</p>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Створити</button>
        <button type="reset" class="btn btn-primary">Стерти</button>
    </form>
    {% else %}
        <p>Щоб створювати пропозиції ви маєте бути зареєстровані як представник.</p>
    {% endif %}
</div>
{% endblock%}